@media (max-width: 1370px)
    .container
        width: 1000px
    .hero__left
        width: 620px
@media (max-width: 1300px)
    .container
        width: 960px
        border: 1px solid yellow
    .hero__left
        width: 580px
@media (max-width: 1200px)
    .container
        width: 900px
        border: 1px solid green
    .hero__left
        width: 520px
@media (max-width: 1080px)
    .container
        width: 850px
        border: 1px solid red
    .hero__left
        width: 470px
@media (max-width: 992px)
    .container
        width: 800px
        border: 1px solid yellow
    .header
        &__link
            font-size: 13px
            line-height: 16.5px
        &__logo
            width: 150px
            height: 21px
        &__search
            margin-left: 70px
        &__nav
            margin-top: 22px
            margin-bottom: 29px
    .hero__left
        width: 420px
@media (max-width: 868px)
    .container
        width: 720px
        border: 1px solid green
    .header
        &__link
            font-size: 12px
            line-height: 15px
        &__logo
            width: 132px
            height: 18px
        &__search
            width: 340px
            margin-left: 47px
            margin-top: 30px
            margin-bottom: 30px
        &__nav
            margin-top: 22px
            margin-bottom: 27px
    .hero
        &__container
            padding-bottom: 60px
        &__left
            width: 100%
        &__right
            width: 100%
            flex-direction: row
            margin-top: 30px
        &__booking
            width: 340px
            padding: 29px 22px 26px 23px
        &__map
            width: 340px
            height: 210px
@media (max-width: 768px)
    .container
        width: 700px
        border: none
    .header
        &__nav
            margin-top: 22px
            margin-bottom: 23px
        &__container
            &-second
                padding-left: 14px
                padding-right: 14px
@media (max-width: 740px)
    .container
        width: 650px
        border: 1px solid yellow
    .header
        &__search, &__bottom, &__nathan
            display: none
        &__search
            &-mobile
                display: block
                z-index: 1000
                margin-left: 0
                margin-bottom: 39px
                margin-top: 35px
                width: 350px
                position: relative
        &__mobile
            &-menu
                display: block
                margin-right: 0px
                cursor: pointer
                margin-top: -1px
                &-hidden
                    display: none
            &-line
                width: 16px
                height: 1px
                background: #333333
                margin-bottom: 4px
                &:last-child
                    margin-bottom: 0
        &__logo
            margin-top: 25px
            margin-bottom: 25px
        &__text
            margin-left: 15px
            &-mobile
                margin-left: 0
                margin-top: 12px
                color: #FFFFFF
        &__link
            font-size: 12px
            line-height: 15.06px
        &__nathan
            &-mobile
                display: flex
                flex-direction: column
                align-items: center
                margin-top: 31px
        &__bottom
            &-mobile
                display: block
                position: fixed
                top: 68px
                left: 0
                right: 0
                height: 100%
                overflow: auto
        &__nav
            &-mobile
                margin-top: 0px
                margin-bottom: 100px
                flex-direction: column
                height: 305px
                justify-content: space-between
        &__container
            &-mobile
                flex-direction: column
    .hero
        &__container
            padding-bottom: 40px
            padding-top: 18px
        &__booking
            width: 100%
        &__map
            width: 100%
            margin-top: 20px
        &__right
            margin-top: 20px
@media (max-width: 690px)
    .container
        width: 87.5%
        border: 1px solid green
    .titles
        &__ratting
            display: none
        &__flash-and-title-block
            grid-row: 1/3
            grid-column: 1/3
            flex-direction: column-reverse
            align-items: start
        &__flash-offer
            margin-left: 0
            margin-top: 5px
            margin-bottom: 10px
        &__descr-block
            grid-column: 1/3
            width: 100%
    .stars
        grid-row: 1/2
        grid-column: 2/3
        justify-self: end
        margin-top: 11.33px
    .hero
        &__left
            height: 350px
@media (max-width: 550px)
    .header
        &__search
            &-mobile
                width: 280px
        &__nav
            &-mobile
                margin-top: 0px
                height: 285px
    .hero
        &__left
            height: 250px
    .swiper-button
        &-prev-one
            left: 10px
        &-next-one
            right: 10px
@media (max-width: 400px)
    .container
        border: none
    .header
        &__link-logo
            width: 99px
            line-height: 13.4237px
            margin-top: 28px
            margin-bottom: 28.58px
            margin-right: 0
            display: block
        &__logo
            margin: 0
            width: 99px
            height: 13.4237px
            display: block
        &__bottom
            &-mobile
                top: 70px
        &__nathan
            &-mobile
                top: 101px
        &__search
            &-mobile
                margin-top: 28px
                width: 243px
        &__nav
            &-mobile
                height: 225px
    .titles
        &__main-title-block
            width: 100%
            height: 100%
        &__stars
            margin-right: 17px
    body
        overflow: none
    .hero
        &__left
            height: 179px
        &__map
            height: 172.94px
    .swiper-button
        &-prev-one
            left: 10px
            width: 4px
            height: 7px
            margin-top: -3.5px
        &-next-one
            right: 10px
            width: 4px
            height: 7px
            margin-top: -3.5px
@media (max-width: 310px)
    .header
        &__search
            &-mobile
                display: none
        &__nav
            &-mobile
                margin-top: 35px
    .titles
        &__stars
            display: none