*
    box-sizing: border-box
    margin: 0
    padding: 0
body
    background-color: #F5FAFE
.container
    max-width: 1110px
    border: 1px solid red
    margin: auto
.body-hidden, .body-hidden-an
    overflow: hidden
.arrow
    position: relative
label.invalid-messages
    position: absolute
    top: -50px
    left: -210px
    color: red
    /* Your local CSS File */
@font-face
    font-family: 'Mulish'
    font-style: normal
    font-weight: 700
    src: local('Mulish Bold'), url(../fonts/Mulish-Bold.ttf) format('truetype')
@font-face
    font-family: 'Mulish'
    font-style: normal
    font-weight: 600
    src: local('Mulish SemiBold'), url(../fonts/Mulish-SemiBold.ttf) format('truetype')
@font-face
    font-family: 'Mulish'
    font-style: normal
    font-weight: 400
    src: local('Mulish Regular'), url(../fonts/Mulish-Regular.ttf) format('truetype')
@font-face
    font-family: 'Mulish'
    font-style: normal
    font-weight: 300
    src: local('Mulish Light'), url(../fonts/Mulish-Light.ttf) format('truetype')

@font-face
    font-family: 'Nunito'
    font-style: normal
    font-weight: 600
    src: local('Nunito SemiBold'), url(../fonts/Nunito-SemiBold.ttf) format('truetype')
@font-face
    font-family: 'Nunito'
    font-style: normal
    font-weight: 400
    src: local('Nunito Reqular'), url(../fonts/Nunito-Regular.ttf) format('truetype')
@font-face
    font-family: 'Nunito'
    font-style: normal
    font-weight: 800
    src: local('Nunito ExtraBold'), url(../fonts/Nunito-ExtraBold.ttf) format('truetype')
